<h1>Music Festivals!!!!</h1>
<p>This is a site dedicated to music festivals and the amazing
	artists they bring together to play for thousands of 'happy'
	people looking to have some good times!</p>
<p>In this site we will be exploring the various festivals 
	around the world and also profiling the many artists that
	they bring together.</p>
<p>Every festival is different and has a unique personality. 
	If this site succeeds, you will be able to understand the 
	personality of each festival profiled, and attend the one 
	that suits you best!</p>


<section>
<form action='/' method='post'>
	Festival Name: <input type="text" name="name"><br>
	City: <input type="text" name="city"><br>
	State: <input type="text" name="state">
	<input type='submit' value='Submit!'>
</section>

<br><br>

<% @festivals.each_with_index do |festival, index| %>
	<p> <%= index+1 %>. <%= festival.name %> in <%= festival.city %>, <%= festival.state %> </p>
	<p>    Created at: <%= festival.created_at %></p>
	<a href="">[edit]</a> <a href="" >[delete]</a>
	<br>
<% end %>	